<h1>Here's a nice pumpkin for you</h1>

<%=image_tag "https://target.scene7.com/is/image/Target/GUEST_0dbd9a95-857d-44dd-b903-9df6b568cb92?fmt=webp&amp;wid=1400&amp;qlt=80" %><br>

<%=@pumpkin.species%>

<div><%=link_to "Back to Index", pumpkins_path%></div>